<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" CarInstances="100" GenerationSize="100" SequenceLength="100" GeneDuration="10">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </Genes>
  <SelectedGenes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </SelectedGenes>
  <Initializers>
    <string>AInit</string>
    <string>InitializerBitPaw</string>
    <string>RandomInitializer</string>
  </Initializers>
  <SelectedInitializer>InitializerBitPaw</SelectedInitializer>
  <FitnessFunctions>
    <string>DummyFitness</string>
    <string>FittnessHexClaw</string>
  </FitnessFunctions>
  <SelectedFitnessFunction>FittnessHexClaw</SelectedFitnessFunction>
  <Selectors>
    <string>DummySelector</string>
    <string>SelectorDecisionBitPaw</string>
    <string>SelectorRandomBitPaw</string>
  </Selectors>
  <SelectedSelector>SelectorDecisionBitPaw</SelectedSelector>
  <Recombiners>
    <string>DummyRecombiner</string>
    <string>RecombinerCrossoverBitPaw</string>
    <string>RecombinerWeaveBitPaw</string>
  </Recombiners>
  <SelectedRecombiner>RecombinerCrossoverBitPaw</SelectedRecombiner>
  <Mutators>
    <string>DummyMutator</string>
    <string>MutatorBitPaw</string>
  </Mutators>
  <SelectedMutator>MutatorBitPaw</SelectedMutator>
  <Terminators>
    <string>DummyTerminator</string>
    <string>TerminatorBitPaw</string>
    <string>TestTerm</string>
  </Terminators>
  <SelectedTerminator>DummyTerminator</SelectedTerminator>
</Settings>