<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" CarInstances="100" GenerationSize="200" SequenceLength="20" GeneDuration="10">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </Genes>
  <SelectedGenes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </SelectedGenes>
  <Initializers>
    <string>AInit</string>
    <string>InitDG</string>
    <string>InitializerBitPaw</string>
    <string>RandomInitializer</string>
  </Initializers>
  <SelectedInitializer>InitDG</SelectedInitializer>
  <FitnessFunctions>
    <string>DummyFitness</string>
    <string>FittnessDG</string>
    <string>FittnessHexClaw</string>
  </FitnessFunctions>
  <SelectedFitnessFunction>FittnessDG</SelectedFitnessFunction>
  <Selectors>
    <string>DummySelector</string>
    <string>SelectorDecisionBitPaw</string>
    <string>SelectorDG</string>
    <string>SelectorRandomBitPaw</string>
  </Selectors>
  <SelectedSelector>SelectorDG</SelectedSelector>
  <Recombiners>
    <string>DummyRecombiner</string>
    <string>RecombinerCrossoverBitPaw</string>
    <string>RecombinerDG</string>
    <string>RecombinerWeaveBitPaw</string>
  </Recombiners>
  <SelectedRecombiner>RecombinerCrossoverBitPaw</SelectedRecombiner>
  <Mutators>
    <string>DummyMutator</string>
    <string>MutatorBitPaw</string>
    <string>MutatorDG</string>
  </Mutators>
  <SelectedMutator>MutatorDG</SelectedMutator>
  <Terminators>
    <string>DummyTerminator</string>
    <string>TerminatorBitPaw</string>
    <string>TerminatorDG</string>
    <string>TestTerm</string>
  </Terminators>
  <SelectedTerminator>TerminatorDG</SelectedTerminator>
</Settings>