<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" CarInstances="50" GenerationSize="200" SequenceLength="10" GeneDuration="10">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </Genes>
  <SelectedGenes>
    <string>GeneA</string>
    <string>GeneB</string>
    <string>GeneC</string>
    <string>GeneD</string>
    <string>GeneE</string>
  </SelectedGenes>
  <Initializers>
    <string>AInit</string>
    <string>RandomInitializer</string>
  </Initializers>
  <SelectedInitializer>RandomInitializer</SelectedInitializer>
  <FitnessFunctions>
    <string>DummyFitness</string>
    <string>FittnessHexClaw</string>
  </FitnessFunctions>
  <SelectedFitnessFunction>DummyFitness</SelectedFitnessFunction>
  <Selectors>
    <string>DummySelector</string>
    <string>SelectorBitPaw</string>
  </Selectors>
  <SelectedSelector>DummySelector</SelectedSelector>
  <Recombiners>
    <string>DummyRecombiner</string>
    <string>RecombinerBitPaw</string>
    <string>RecombinerCrossoverBitPaw</string>
  </Recombiners>
  <SelectedRecombiner>DummyRecombiner</SelectedRecombiner>
  <Mutators>
    <string>DummyMutator</string>
    <string>MutatorBitPaw</string>
  </Mutators>
  <SelectedMutator>DummyMutator</SelectedMutator>
  <Terminators>
    <string>DummyTerminator</string>
    <string>TerminatorBitPaw</string>
    <string>TestTerm</string>
  </Terminators>
  <SelectedTerminator>TestTerm</SelectedTerminator>
</Settings>